[2021-01-21 22:38] fcjreed commented on #2499
Request timestamp expired typically happens if your system time is out of sync. Try enabling ntp syncing.

[2021-01-22 20:49] fcjreed commented on #2549
Pull the latest code. It should be fixed with PR https://github.com/DeviaVir/zenbot/pull/2624

[2021-01-23 00:07] hbheiner opened #2626 "zenbot not start"
PS C:\zenbot> docker-compose --file=docker-compose-windows.yml up --remove-orphans
Removing zenbot_server_1
Starting zenbot_mongodb-data_1 ... done
Starting zenbot_mongodb_1      ... done
Recreating fe1bef2d1e57_zenbot_server_1 ... error

ERROR: for fe1bef2d1e57_zenbot_server_1  Cannot start service server: Cannot link to a non running container: /zenbot_mongodb_1 AS /zenbot_server_1/mongodb

ERRO

[2021-01-24 17:49] #2501 closed, assigned to nobody

[2021-01-29 15:48] ioapan commented on #1868
Hi, did you find how to solve this?

[2021-01-30 15:14] kellogcheung opened #2627 "Telegram interactive mode"
What is the usage of the interactive mode for telegram?

[2021-01-31 20:57] ChairmenMeow100 commented on #2597
hey @ndasim , thanks for your guide. I have followed it but unfortunately i get some errors and i am too unskilled to fix it - maybe you could help me? (error shown below)

npm install

bundling WebApp components
[webpack-cli] Error: No loader specified
    at Function.normalizeUseItem (/home/blacktop_ubuntu/zenbot/node_modules/webpack/lib/RuleSet.js:389:10)
    at Function.normalizeUse (/home/bla

[2021-02-01 18:49] romainvaltier commented on #2626
Maybe following option is missing in docker-compose-windows.yml:
`    depends_on:
      - mongodb`

[2021-02-02 11:58] ChairmenMeow100 commented on #2597
I have found my Problem - i have downgraded the webpack and webpack-cli version as you mentioned - but in the meantime this was fixed. I have reinstalled it withe the right webpack and now it runs as expected.

[2021-02-03 01:04] kennylbj opened #2628 "Zenbot exit unexpectedly with 5003 Hangup error in CentOS 7"
### System information
- I do not write custom code
- OS: CentOS 7, Linux li849-139.members.linode.com 3.10.0-1160.11.1.el7.x86_64 #1 SMP Fri Dec 18 16:34:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- OS Memory: 4G
- Zenbot 4.1.0
- Node v10.23.2
- Command nohup ./zenbot.sh trade binance.BTC-USDT --non_interactive --keep_lookback_periods=100 > trades_binance.log  2>&1 &

### Describe the problem
zen

[2021-02-04 15:45] Maddcow opened #2631 "Web output issue - no charts/graphics"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: no - using installed codes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 with Docker v20.10.2
- **Zenbot version** (commit ref, or version):  on commit 3,637
- **Zenbot branch**: DeviaVir
- **NodeJS version**: v10.23.2
- **Python version (when using a python script)**:
- **Exac

[2021-02-05 07:45] DeviaVir commented on #2627
https://github.com/DeviaVir/zenbot/pull/2070

[2021-02-05 07:45] #2627 closed, assigned to nobody

[2021-02-05 07:48] #514 closed

[2021-02-05 07:48] #1454 closed

[2021-02-05 22:30] mmdiego commented on #2607
Duplicate of #1988 and is already fixed.

[2021-02-05 23:35] zaventh opened #2632 "Kraken exchange broken on XXBT-ZUSD"
### System information

- **Have I written custom code (as opposed to using zenbot vanilla)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 20
- **Zenbot version** (commit ref, or version): HEAD (a0b20734)
- **Zenbot branch**: unstable
- **NodeJS version**: v14.15.4
- **Python version (when using a python script)**:
- **Exact command to reproduce (include everything

[2021-02-05 23:55] mmdiego commented on #2532
If this is true, maybe we can add an option in conf.js to configure if we want to store past data during trading or not.
I'm now trading several coins at the same time and I'm not interested in keeping their history, so this option would be great to save disk space.
@jorisw  What do you think? Have you confirm this behavior?

[2021-02-06 10:05] xazes commented on #2632
As dirty workarround you can edit exchange.js  from kraken and edit this part here:
`var fixMap = {
      'XETH': 'ETH',
      'XXBT': 'XBT',
      'XLTC': 'LTC',
      'XXDG': 'XDG',
      'XETC': 'ETC',
      'XMLN': 'MLN',
      'XREP': 'REP',
      'XXRP': 'XRP',
      'XXLM': 'XLM',
      'XXMR': 'XMR',
      'XZEC': 'ZEC',
      'ZAUD': 'AUD',
      'ZEUR': 'EUR',
      'ZGBP': 'GBP',

[2021-02-06 10:28] jorisw commented on #2532
@mmdiego As far as storing candle periods goes, I think that should be removed entirely, as it's not used anywhere.

As far as storing trades goes, which Zenbot bases all its operations on, I'd say it would be good to remove trades that are further in the past than you will ever need pre-roll for. Now this entirely depends on your indicators and the timeframe interval(s) at which you operate. If y

[2021-02-06 13:17] xazes commented on #2147
same for me

[2021-02-06 14:36] mmdiego opened #2633 "Add support for start and end dates in YYYYMMDD format to backfill command"
Just that, I've added that option to backfill, my brain can't stand working with epoch ms dates....

[2021-02-07 01:37] mmdiego opened #2636 "Simulator hangs or exits abruptly (again)"
I've tracked several issues related to this problem is the past, and many attempts to fix it, but it seems it's not working for everybody (including me)

There was a critical change in commit 0ef671ef003c227c74fcfa0d308fe189ca4d8d9f to fix this issue, but it seems it worked for someones and broke it for others.

So, before the modification I found these related issues: #1922, #1971, #1976, #1977
A

[2021-02-07 19:32] dereckmartin commented on #2631
if you are using docker, i had to use my system ip like 192.168.0.1:17365 in the browser versus localhost:17365 or 127.0.0.1:17365.  Some of the javascript resources will not load using localhost.  You can find this out by using devtools console in firefox or chrome.

[2021-02-07 20:32] Maddcow commented on #2631
That brings up the same thing (thanks tho). I am starting Zenbot with cmd and see output but it is not excepting any commands - ie l = list available commands. I think this is why the website is not showing anything because I am not able to dump from the CLI.

Do I need to start the docker with -d and run trade --paper from within the docker cli (just to a different port)? Or is there a way to get

[2021-02-07 21:27] ChairmenMeow100 commented on #2632
hey zaventh, the initial Problem is a inconsistency in the naming of the products on the kraken side this was the last solution https://github.com/DeviaVir/zenbot/commit/d5d1f917c7fd7acbc21ddcc27f64737e1084864c it reformatted the "small coins". The list on line 47 was incomplete so i figured out it needs to change into "var assetsToFix = ['AAVE', 'ADA', 'ALGO', 'ANT', 'ATOM', 'BAL', 'BAT', 'BCH',

[2021-02-07 23:49] ChairmenMeow100 commented on #2632
hey @zaventh , i have undone the last changes on the file ~/zenbot/extensions/exchanges/kraken/exchange.js and now XXBT works on my machine again - i will test it a bit and try to do a pull request tomorrow.

[2021-02-08 00:27] kennylbj commented on #2636
Try to use node 8 or 14, in my case, node 10 always makes the process hang.

[2021-02-08 01:19] mmdiego commented on #2636
I've tried with different versions and they behave differently, but with none of them I got a consistent behaviour. So, I think that's not a fix for this problem. My idea is to find the way to fix this issue and make it work for any version, as that is what stated as requirements for Zenbot.

[2021-02-08 17:32] #2633 closed, assigned to nobody

[2021-02-08 19:09] zaventh commented on #2632
@ChairmenMeow100 No worries. Can you describe what you were trying to fix initially? It looks like a problem with the `DOT-XETH` pair? If I get a chance I may be able to look at it sometime this week.

[2021-02-09 20:57] jorisw commented on #2636
I welcome anyone to try Zenbot paper or live mode, first against Binance, then against GDAX, and debug the code that was altered in the mentioned commit. The change was necessary for me to keep Zenbot running against Binance, unfortunately it seems to have broken continuous operation against GDAX. I for one unfortunately don't have time to debug it, but I am confident that the code can be made to

[2021-02-09 22:24] mmdiego commented on #2636
But the problem I'm reporting has nothing to do with paper or live trading. It's in simulation and the modification was inside sim.js, especifically in getNext() function.
Also, I'm using Binance too. I don't know if it's related to the exchange.
I've been debugging it and I've seen the same behavoir described in #2487 .

[2021-02-09 23:20] mmdiego commented on #2636
I think this is harder than expected. I've been tracking other recent related changes and found these other issues:
#2412 : simulation not working
#2425 : fixed something related to lolex and mongodb that fixed simulation
#2600 : reverted back last change because sims results were incorrect

I think this is highly related to the simulator problem. And tracking back when this lolex thing was added

[2021-02-11 03:51] tommyyama2020 opened #2639 "Can i modify the bot to add new selector ?"
I just wonder if I can add new selectors such as Zaif.jp, bitflyer.com etc.. as many users in Japan use these exchanges.
I have APIs provided from them.

[2021-02-11 07:15] tommyyama2020 opened #2640 "Period is not defined. Is this error ?"
1, it must be bug?

### System information
- **Have I written custom code (as opposed to using zenbot vanilla)** :  no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Big sur version 11.2
- **Zenbot version** (commit ref, or version): master
- **Zenbot branch**:ustable
- **NodeJS version**:v10.23.1
- **Python version (when using a python script)**: Python 3.8.2
- **Exact command to

[2021-02-11 08:12] ChairmenMeow100 commented on #2632
hey @zaventh , thanks for the response. As far as i know all kraken names for currency starts with Z and asset start with X. The names consists of four letter, but at some point kraken has stopped to do so. Now we have products with three letters and products with four letters and i don´t know why but this causes trouble. So the solution is apparently to reformat one group, the earlier version was

[2021-02-12 03:08] tommyyama2020 commented on #2640
Could restart after fresh installation. I will raise if this issue occurred again.

[2021-02-12 03:08] #2640 closed, assigned to nobody

[2021-02-12 23:20] Maddcow opened #2643 "New release / updated version?"
Last update to the version was back in Oct 2018. With all the possible changes since then is it possible to make a newer version for people to start with - ie Release version 4.1.5. Just a thought....

[2021-02-13 11:30] #2632 closed, assigned to nobody

[2021-02-13 13:30] Maddcow commented on #2631
After updating docker-compose.yml file to the deviavir/zenbot:unstable image and rebuilding the Docker - everything is working.

[2021-02-13 13:30] #2631 closed, assigned to nobody

[2021-02-14 22:24] hliebscher opened #2645 "Kraken Exchange ZEUR price can only be specified up to 1 decimals."
### System information
-  MAC OSX:
- **Zenbot version** (fix: broken kraken products #2641):

### Describe the problem
Kraken Exchange ZEUR price can only be specified up to 1 decimals.

### Source code / Error logs
order rejected
    at /Users/hliebscher/opt/zenbot/lib/engine.js:301:15
    at /Users/hliebscher/opt/zenbot/extensions/exchanges/kraken/exchange.js:283:20
    at response.then.catch (/

[2021-02-15 11:06] hliebscher commented on #2645
Hi
i find out this is only when i use option --markup_sell_pct or --markup_buy_pct
without it works !

[2021-02-16 09:47] tommyyama2020 commented on #2639
where trading symbols can be found for exchanges ?
 i wish to custom codes on my own.

[2021-02-16 15:13] tommyyama2020 commented on #2449
@jorisw
Speaking of which, where can i find details in product.json for each particular exchange?
feel fees are way too expensive and adapt more cheaper ones.

[2021-02-16 19:30] jorisw commented on #2449
Run ./update_products.sh in the exchange's directory.

Pretty sure they're retrieved from the exchange itself.

[2021-02-16 20:33] tommyyama2020 commented on #2449
@jorisw  thanks for your help. you make some profits on this? i have never seen any profits although i learn --paper option for a while.

[2021-02-16 20:47] jorisw commented on #2449
I've only experimented.

[2021-02-16 21:03] tommyyama2020 commented on #2449
okay. the market was good three years ago..

[2021-02-17 03:58] grainz commented on #2607
the error above is not corrected in the fix you tagged.

[2021-02-17 06:57] tommyyama2020 commented on #2449
@DeviaVir can i get access to push by the way?

[2021-02-17 06:58] tommyyama2020 commented on #2449
@DeviaVir Hi, Can I get access to pull request by the way?

[2021-02-17 07:21] jorisw commented on #2449
Google 'Pull Requests'.

[2021-02-17 07:33] tommyyama2020 commented on #2449
@jorisw it was a permission denied error.

[2021-02-17 12:06] mmdiego commented on #2607
I don't see any bug described here. It only mentions a Warning message that appears somewhere. It doesn't give any kind of details and it's the same message fixed in #1988.
@grainz  What are you talking about?

[2021-02-17 12:45] tommyyama2020 opened #2647 "It seems WexNZ exchange has been closed since 2018"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS ver 11.2.1
- **Zenbot version** (commit ref, or version):
- **Zenbot branch**: unstable
- **NodeJS version**: 15.8.0
- **Python version (when using a python script)**:
- **Exact command to reproduce (include everything)**: NA
- **Did I

[2021-02-18 14:46] DeviaVir commented on #2647
Fixed in https://github.com/DeviaVir/zenbot/pull/2648

[2021-02-18 14:46] #2647 closed, assigned to nobody

[2021-02-18 18:57] grainz commented on #2607
I meant to say the warning, not an error, posted above was not included in the ticket you tagged.
They are the same type of warnings that were fixed but the one posted above is not fixed.
What are you talking about @mmdiego ? You say this is a duplicate but it is not.

[2021-02-19 16:53] grainz opened #2650 "binanceus update-products.sh not triggering"
update-products.sh needs to be marked as an executable for binanceus to regularly update tokens.

[2021-02-21 18:41] gianpaj opened #2654 "crash using neural strategy"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac
- **Zenbot version** (commit ref, or version): b1918f67f74c320e33179a3506fe3c725c3a6aa2
[code]
- **Zenbot branch**: unstable
- **NodeJS version**: `v12.20.0`
- **Exact command to reproduce (include everything)**: `node zenbot sim --strateg

[2021-02-23 18:31] LoculusMcMarx opened #2656 "Bot sometimes shows period.high and period.low in API at the same time and thus the bot takes wrong decisions"
Hi there,

As you can see, I get sometimes two decicion-points to my bot at the same time. Here both at 19:10:00. And I am not sure if I am an idiot, or this is a bug.
![image](https://user-images.githubusercontent.com/70111337/108890246-a0d68d80-760d-11eb-8cac-35435ef614ed.png)

I am forwardlooking to any kind of help :D

I am using WSL on Windows 10/Ubuntu 18.1 I allocate 10 gigs of ram to the b

[2021-02-24 15:45] tommyyama2020 commented on #2639
it worked one way or another..

[2021-02-24 15:45] #2639 closed, assigned to nobody

[2021-02-24 16:18] tommyyama2020 commented on #2449
@admin2684  I might be able to update the adapter if you can tip me some.

[2021-02-27 11:02] Pistol-Peet opened #2661 "KRAKEN API rejecting orders with prices value >5 decimals"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: No
- **OS Platform and Distribution: ubuntu 20.04
- **Zenbot version** (commit ref, or version): 4.1.0
- **Zenbot branch**: unstable
- **NodeJS version**: 14.16.0-deb-1
- **Python version (when using a python script)**: python3.8
- **Exact command to reproduce (include everything)**: zenbot trade kraken.D

[2021-03-01 14:21] Pistol-Peet commented on #2607
I do receive these warnings as well. Not sure about the exact impact yet.
@james-ingold stated his fix "Replaces deprecated save calls in mongodb with replaceOne and insertOne." and it was merged into unstable end of Feb 2020. Unfortunately I do receive the warning still...
![image](https://user-images.githubusercontent.com/71960913/109509485-373d0000-7aa1-11eb-8e40-0f80b565db76.png)
Version detai

[2021-03-01 19:15] ben9583 commented on #2597
Yep, I ran through the guide and got this same error; changing back to webpack ^5.0.0 solved the issue.

[2021-03-01 22:43] mmdiego commented on #2607
There is stilll one call to save() in trade.js that wasn't changed in the previous fix, that's why the message is still appearing.
However, it won't affect functionality until it become obsolete.
I'll fix it soon if I have some time.

[2021-03-02 15:46] tommyyama2020 commented on #2661
@Pistol-Peet  Just out of curiosity, you can not use a currency with five decimal places for the asset pair?  I am" just" curious.
Public API says so. ![image](https://user-images.githubusercontent.com/38548157/109674909-a65a4780-7bba-11eb-9f00-66a6d4a25728.png)

[2021-03-08 10:21] SonOfCrypto opened #2662 "Custom simulation maker"
Hi. Can someone tell me if it is possible to add a custom maker to the simulation chart? An arrow is added when i trigger `s.signal = 'buy'` or `s.signal = 'buy'` but i want to add a custom maker. like for every starting period or so. Thank you :)

[2021-03-08 13:47] Pistol-Peet commented on #2661
According to the screenshot I couldn´t.
The order came out like this
![image](https://user-images.githubusercontent.com/71960913/110329529-03238b00-801d-11eb-8542-b46de0d88b32.png)
So that might have triggered the warning. Hence caused the rejection.
Question is, when defining the pair decimals as you show in your screenshot, does zenbot consider it for the calculation of orders?

[2021-03-09 08:25] sebastienhouzet opened #2663 "Docker Traefik - ERROR: Invalid interpolation format for "labels" option in service "zenbotserver": "traefik.frontend.rule=Host:$(TRAEFIK_HOST_ZEN)""
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**:

zenbot vanilla

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Mac OS + Docker

- **Zenbot version** (commit ref, or version):

Latest

- **Zenbot branch**:

unstable

- **NodeJS version**:

10

- **Exact command to reproduce (include everything)**:

Before, i have copy .env-sample to .e

[2021-03-13 14:39] LuisAlejandro commented on #2636
I think the "recent versions of mongo" issue should be addressed pinning the mongo version to a fixed one that its well known to work. This should be done in the docker-compose files. For example:

[code]

to:

[code]

[2021-03-20 17:16] enoris75 opened #2664 "Bollinger: changes in the startegy period affects the Buy & Hold return"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Zenbot version** (commit ref, or version): 4.14
- **Zenbot branch**: default
- **NodeJS version**: v12.14.1
- **Python version (when using a python script)**: Python 2.7.15
- **Exact command to reproduce (include everything)*

[2021-03-20 17:35] enoris75 commented on #2664
I'm noticing some discrepancies with **Ichimoku** too, but they are vastly lower (minor discrepancies can indeed occur for the latest price will be the one 1 period before the end of the interval):

| ichimoku     | Period | initial | Jan      | Feb      | Mar      | Apr      | Mai     | Jun      | Jul      | Aug      | Sep      |
| ------------ | ------ | ------- | -------- | -------- | --------

[2021-03-25 17:42] enoris75 commented on #2664
I dug a little deeper and it seem like the initial value which is used to calculate **buy and hold** is not the value at the beginning of the testing period but rather the one corresponding to the first signal emitted by **Bollinger**.

![image](https://user-images.githubusercontent.com/60134161/112518347-94bf2680-8d99-11eb-9a69-7043775be14d.png)

Note: I quickly added the initial and final value

[2021-03-31 16:14] rouis commented on #1216
Hello team, do we have a solution for the issue of @firepol  ?
I think is very important to have this param to limit possible great loss !!!
Thx

[2021-03-31 17:33] rouis commented on #1373
This issues can really help to minimize losses !!

[2021-03-31 23:11] grainz commented on #2650
Can we link this to my pull request so it can get closed out?
https://github.com/DeviaVir/zenbot/pull/2669

[2021-04-01 16:13] DeviaVir commented on #2650
You just did so by linking it here, good to close this one?

[2021-04-01 16:34] grainz commented on #2650
i thought there was a way to link it on the right of the ticket but either way, we can close this as resolved.

[2021-04-01 19:52] #2650 closed, assigned to nobody

[2021-04-06 03:58] 127 commented on #2654
same on os x
running  ```zenbot trade --paper```
conf.js
```c.output.api.on = false```
error
[code]

[2021-04-16 21:26] titos2k commented on #2147
Same for me.

[2021-04-16 21:54] titos2k commented on #2147
ok its because kraken api getBalance result is now an object not a table.

it returns
data.result.ZEUR. not data.result[EUR]

[2021-04-20 01:37] acidtib commented on #2654
I was able to pass this error by running zenbot with this env `NODE_OPTIONS=--max-old-space-size=8192` do some test and bump the space size to fit your needs.

example:
`NODE_ENV=production NODE_OPTIONS=--max-old-space-size=8192 zenbot trade --paper`

[2021-04-22 22:10] cyberlink1 opened #2678 "zenbot Sim overdrafts currency account and returns wrong numbers."
Im running the docker version posted to docker hub (deviavir/zenbot:unstable)

I first noticed the issue after backtesting Jan 2021 and getting a return of just over 300% but when I did the same backtest using
Jan 1 - Feb 28 2021 It showed 150% at the end of Jan.

As I dug into it and did further testing I noticed entries like this in the output.

[code]
No change in BTC amount but the USD is gone

[2021-04-23 20:45] w1ld3r commented on #2678
Can't you try debug it @cyberlink1 ? Otherwise I will take a look tomorrow.

[2021-04-23 20:52] w1ld3r commented on #2678
But I hitghly suggest you to use [Freqtrade](https://github.com/freqtrade/freqtrade) instead of [Zenbot](https://github.com/DeviaVir/zenbot). It has more active contributors and has a decent code quality.

[2021-04-24 12:00] cyberlink1 commented on #2678
I dont know java, so debugging it is a bit outside my abilities.

I looked at Freqtrade and it did not have any of the standard strategies (rsi, srsi, cci, momentum, etc, etc.) as I am not a programmer and do not know python, I would not be able to create them. So Zenbot appeared to be a better option.

I also liked the Zenbot web interface for monitoring/checking it's status.

[2021-04-24 16:15] w1ld3r commented on #2678
Duplicate issue #2594 ?

[2021-05-02 10:56] Trunkx opened #2680 "Cannot get balance from Kraken"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 10
- **Zenbot version** (commit ref, or version): 4.1.0
- **Zenbot branch**: unstable
- **NodeJS version**: v15.14.0
- **Python version (when using a python script)**: Python 2.7.16
- **Exact command to reproduce (include everything)

[2021-05-06 06:38] kaanguven opened #2681 "Using genetic algorithm ❓"
Can someone explain the use of the genetic algorithm?

Thank you.

[2021-05-07 04:37] EterniaLogic opened #2682 "Coinbase Pro (gdax) maker/taker fees much higher for low volume trading"
if you have sold less than $10,000 in volume, the maker/taker fee are both 0.5%, please make an option for that in the conf.js since the trade volumes are different for everybody. Lost a wee bit on it, and got scared due to the fee losses.

[2021-05-07 14:52] #2681 closed, assigned to nobody

[2021-05-07 14:52] kaanguven commented on #2681
I understand how i should run it

[2021-05-07 14:54] kaanguven opened #2683 "Implenting genetic backtesting"
Is there way to implement darwin genetic backtesting for automatically optimizing strategy in live trading or any other way? Can someone explain if it is possible

[2021-05-13 04:01] BlackWingedKing opened #2684 "Installation failure with ubuntu 20.04"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla) **: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04) **: Ubuntu 20.04
- **Zenbot version** : commit 74754dbb79e4dc54966e160da0c9dfae91d84399
- **Zenbot branch**: unstable
- **NodeJS version**: 16.1.0
- **Python version (when using a python script)**: 3.8.5
- **Exact command to reproduce (includ

[2021-05-13 04:34] BlackWingedKing opened #2685 "Error with docker-compose on windows"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows-10, 64bit
- **Zenbot version** (commit ref, or version): commit 74754dbb79e4dc54966e160da0c9dfae91d84399
- **Zenbot branch**: unstable
- **NodeJS version**: 14.15.4
- **Python version (when using a python script)**: 2.7
- **Exact co

[2021-05-14 02:01] WildChildForLife commented on #1712
Can someone please advise about the solution to this issue ?
Im running Zenbot on a docker container (exactly as the documentation tells), with standard configuration (no tweak), and yet the GUI is not able to retrieve some css / js files. Where did it go wrong ?

[2021-05-14 02:24] WildChildForLife commented on #1712
Solved.
I had to connect to the container, and execute `npm run postinstall`. It will generate the missing files.
Or instead you can add `RUN npm run postinstall` right after `USER node` in Dockerfile.

This command is already ran by the initial npm intall, but for some reasons WebApp fails at initialization, might be permission issues.

[2021-05-14 17:00] DeviaVir commented on #2685
What does `docker logs zenbot_server_1` return?

[2021-05-14 17:01] DeviaVir commented on #2684
Might be related to https://github.com/sass/node-sass/issues/2010

[2021-05-15 03:47] BlackWingedKing commented on #2685
@DeviaVir
It doesn't return anything

posting the command line output for better reference
[code]

[2021-05-16 07:18] kaanguven opened #2689 "Binance API is down! unable to call getBalance, retrying in 20s"
I get the error in the title after running zenbot for 1 day and it goes like this  :

{ currency: 'TRY', asset: 'DOGE' } ]
An error occurred InvalidNonce: binance {"code":-1021,"msg":"Timestamp for this request was 1000ms ahead of the server's time."}
    at binance.throwExactlyMatchedException (D:\zenbot-unstable\zenbot-unstable\node_modules\ccxt\js\base\Exchange.js:532:19)
    at binance.handleE

[2021-05-16 08:14] DeviaVir commented on #2685
Ah, it looks like `zenbot_mongodb_1` is the one erroring.

Try:
`docker logs zenbot_mongodb_1`?

[2021-05-16 08:18] BlackWingedKing commented on #2685
@DeviaVir
[code]

[2021-05-16 11:02] DeviaVir commented on #2685
Can you try removing `--smallfiles` from https://github.com/DeviaVir/zenbot/blob/unstable/docker-compose-windows.yml#L15 ?

[2021-05-17 09:12] chris-aeviator commented on #2663
I mostly have this issue when having a string (e.g. from htpasswd) that has a `$` in there. I get around this by preprending every `$` with another `$` , but this might break your usecase. You can try just replacing your ENV variable TRAEFIK_HOST_ZEN with the actual value

[2021-05-26 22:22] carbone07 opened #2690 "kraken: order buy XETH-ZEUR and XXRP-ZEUR"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: no
- **OS centos server 7**:
- **Zenbot version** (commit ref, or version):  4.1.0
- **Zenbot branch**: unstable
- **NodeJS version**: v14.17.0
- **Python version (when using a python script)**:  2.7.5
- **Exact command to reproduce (include everything)**:  ./zenbot.sh trade kraken.XETH-ZEUR
- **Did I mak

[2021-05-27 22:01] carbone07 commented on #2690
hi guys i solved the problem on my local copy by checking the kraken documentation and doing some tests
I encountered the problem in a parameter that was passed in the addOrder function in the file "../zenbot/extensions/exchanges/exchange.js" on line 234 (trading_agreement: conf.kraken.tosagree)

I just commented out the line and now I order it to be executed.

not knowing the project in detail I

[2021-06-02 18:00] #2278 closed, assigned to nobody

[2021-06-02 18:00] #2561 closed, assigned to nobody

[2021-06-11 01:14] #2619 closed, assigned to nobody

[2021-06-11 01:14] #2499 closed, assigned to nobody

[2021-06-11 01:14] #2628 closed, assigned to nobody

[2021-06-11 01:14] #2626 closed, assigned to nobody

[2021-06-11 01:14] #2643 closed, assigned to nobody

[2021-06-11 01:14] #2656 closed, assigned to nobody

[2021-06-11 01:14] #2597 closed, assigned to nobody

[2021-06-11 01:14] #2662 closed, assigned to nobody

[2021-06-11 01:14] #2664 closed, assigned to nobody

[2021-06-18 04:13] Leekyungun commented on #1529
Thanks

[2021-06-18 04:13] #1529 closed

[2021-07-09 14:52] leopardcoder opened #2737 "if (!match) throw new Error('invalid bucket size spec: ' + spec);"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Zenbot version** (commit ref, or version): 4.1.0
- **Zenbot branch**: Installed zenbot maybe 3 months ago.
- **NodeJS version**: v10.19.0
- **Python version (when using a python script)**: Python 3.8.10 (i use python just to generate sim commands and run them as subprocess in a script)
- **Did I

[2021-07-12 22:24] carlospaulino opened #2738 "Crash when unable to get the account balance."
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Big Sur 11.4
- **Zenbot version** (commit ref, or version): 5df014ad2c47a2218cbe7fb85d56b5732dbb260f
- **Zenbot branch**: unstable
- **NodeJS version**: v15.2.1
- **Exact command to reproduce (include everything)**:
`./zenbot.sh trade

[2021-07-12 22:25] carlospaulino commented on #2738
I am going to open a PR to address this issue.

[2021-07-21 05:01] #2680 closed, assigned to nobody

[2021-07-21 05:01] #2683 closed, assigned to nobody

[2021-08-15 15:37] jorisw opened #2746 "Thoughts on backfills based on trade history"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: Yes, lots
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 11.5 + Ubuntu 20
- **Zenbot branch**: Forked long ago from unstable
- **NodeJS version**: 14

### Describe the problem

Zenbot heavily relies on backfills, based on retrieving trade history from exchanges. Zenbot also heavily r

[2021-08-17 17:51] Ayush-projects commented on #2738
Can i work on this issue?

[2021-08-17 19:14] carlospaulino commented on #2738
Of course, I've been swamped by work and haven't got the chance to address this issue.

[2021-09-05 00:48] Tristaan opened #2749 "Forex.analytics npm install error Node 16.4.1"
### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Archlinux
- **Zenbot version** (commit ref, or version): 4.1.4
- **Zenbot branch**: unstable
- **NodeJS version**: 16.4.1
- **Python version (when using a python script)**:
- **Exact command to reproduce (include everything)**: npm install

[2021-09-11 19:52] michK opened #2752 "Issue with docker: Error: listen EADDRINUSE: address already in use :::17365"
Hi,

I'm having an issue starting up a bot with a docker build of zenbot.

I'm on a Ubuntu 18.04 system.

I have most of the setup done, and start up the server with

`docker-compose up`

which seems to exacute fine, although it automatically goes into paper trading mode; is that normal?

I have my `conf.js` set up and it seems to work because I was able to submit an order that exacuted on pro.coi

[2021-09-11 21:06] michK commented on #2752
I have found a workaround that's not very elegent:

Start server with `docker-compose up`

Open `conf.js` and change `c.output.api.port = process.env.ZENBOT_API_PORT` to different port

And then start bot with `docker-compose exec server zenbot trade`

Seems to work, but not very elegant.

[2021-09-13 14:33] fculpo opened #2756 "deviavir/zenbot docker image 10 month old"
Hi @DeviaVir, it seems the docker image deviavir/zenbot:unstable is no more updated on commits.
Can you look into that ? May that be related to recent dockerhub changes ?

We can still build the image ourselves but it would be nicer to have up to date image.

[2021-09-13 16:13] DeviaVir commented on #2756
I think it stopped after we hit some limit of failed builds, heh.

`master`:
[code]

`unstable` built fine https://hub.docker.com/layers/deviavir/zenbot/unstable/images/sha256-7ccadafeacafd223460f210ee50048d96932015b9a4e7e31a66e7f3872a23129?context=repo

[2021-09-29 10:45] tekknikk commented on #2551
@Osolemio you rock

[2021-10-04 16:28] jeff47 commented on #2752
Pretty sure it's because the default docker already starts zenbot running within the container, so it's already running and listening on port 17365.

[2021-10-04 16:34] #2752 closed, assigned to nobody

[2021-10-11 15:36] FredMichel commented on #871
I changed the settings as you mentioned and I noticed that backfill is running in pre-roll phase. However, `trade` command does not take into account the pre-roll data then signals are not computed (yet?). I use a period of 1h . I will wait one additional day to see whether signals are fired.  For information, it happened with Binance exchange.

[2021-10-20 03:18] DrBlackross opened #2760 "just posting a fix for anyone that might have the "MongoNetworkTimeoutError" i was having....."
just edit line 56 of the boot.js

    connectionString = 'mongodb://' + authStr + zenbot.conf.mongo.host + ':' + zenbot.conf.mongo.port + '/' + zenbot.conf.mongo.db + '?connectTimeoutMS=900000' +

i have the "daytrader" running in the basement, so mongodb is there (even locally it would timeout), BUT.... when i want to throw 32 cores at a neural simulation that will run on one core, lol... i do it

[2021-10-20 03:20] #2760 closed, assigned to nobody

[2021-10-31 11:34] evandrojr opened #2761 "Feature: AI or brute force to detect the best strategy and parameters"
### Problem description

At the moment it is needed to manually test various strategies and parameter manually. It would be nice to have a feature that does that for the user. Probably other people might have done it before but never shared the code.

Is there any strategy and parameters that are guaranteed to outperform the HOLD strategy, specially when the price is higher at the end? That is the

[2021-11-03 19:30] ole-berg commented on #2756
Hi @DeviaVir, your link to the unstable image didn't work so I just pulled the latest unstable image but I still get this error:
[code]
Any ideas how to fix it? You really get a 404 when opening https://registry.npmjs.org/ccxt/-/ccxt-1.17.363.tgz.

[2021-11-05 09:33] DeviaVir commented on #2756
@ole-berg this seems like an error you'd see when trying to run npm install, which should already be done by the docker build. What command did you run that resulted in this?

[2021-11-05 09:34] DeviaVir commented on #2756
https://hub.docker.com/repository/registry-1.docker.io/deviavir/zenbot/builds/93e64244-d18f-44bf-b4c9-bffa2006f1fa seems happy

[2021-11-05 12:31] DeviaVir commented on #2761
Some efforts collected here https://github.com/DeviaVir/zenbot/tree/unstable/scripts

[2021-11-06 21:04] ole-berg commented on #2756
@DeviaVir Hi, at first I used the wrong command however now I get a mongodb connection error when doing `docker run deviavir/zenbot` on Ubuntu. Do I need to do some configuration for the mongodb connection even if I only want to do simulations and if yes, where?
[code]

[2021-11-08 17:07] jefc1111 commented on #2761
I've been building this for a while: https://github.com/jefc1111/zenbot-sim-runner

It's designed to solve this exact problem.

I'm preparing a cloud-based offering at the moment. While it is is open source, it is non-trivial to install, with many dependencies, and I do not have the time to prepare it for installation by non technical users. I'm posting updates on Zenbot's Reddit, but they are pre

[2021-11-12 10:57] arthurwolf opened #2762 "Unexpected token *"
------------------------
Remove everything above before creating your issue.
------------------------

### System information
- **Have I written custom code (as opposed to using zenbot vanilla)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04, Fresh install in VM
- **Zenbot version** (commit ref, or version): What github clones this day
- **Zenbot branch**: Same
-

[2021-11-12 16:22] DeviaVir commented on #2762
The instructions say "Node.js (version 8.3.0 or higher)" perhaps try a more recent version like NodeJS 16

[2021-11-12 16:28] DeviaVir commented on #2756
There's a docker-compose file available too, which automatically sets up dependencies like mongodb:
https://github.com/DeviaVir/zenbot/blob/unstable/docs/installation/docker.md

[2021-11-12 16:51] arthurwolf commented on #2762
I'll try that thanks!

Just to be clear though, the instructions ( https://github.com/DeviaVir/zenbot/tree/unstable/docs ) say (in «Ubuntu 16.04 Step-By-Step» ) to run:

curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -

Which I did, and which installed this version. Did I miss something, or is this a potential issue with the instructions?

If this is an issue with the instructions be

[2021-11-12 16:51] DeviaVir commented on #2762
Always! Those docs are all user-contributed, so keeping them up to date by users makes a lot of sense.

[2021-11-18 13:01] arthurwolf commented on #2762
Testing on latest Ubuntu LTS (20.04), the following works (from a 100% fresh install):

sudo apt-get update
sudo apt-get upgrade -y
sudo apt-get install build-essential mongodb nodejs npm -y
git clone https://github.com/deviavir/zenbot.git
cd zenbot
npm install
./zenbot.sh trade --paper

Which is even more straightforward than the current 16.04 instructions.
Want a PR with those instructions added

[2021-11-19 15:20] arthurwolf opened #2763 "Zenbot hanging"
Have I written custom code (as opposed to using zenbot vanilla): Yes, a custom strategy, but see bellow
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04, Fresh install in VM
    Zenbot version (commit ref, or version): What github clones this day
    Zenbot branch: Same
    NodeJS version: v10.19.0
    Python version (when using a python script): 2.7.17
    Exact command t

[2021-11-19 15:47] arthurwolf commented on #2763
it's starting to look like this is a weird re-entry issue.

why is getNext() an async function but await isn't used when it's called?

[2021-11-19 16:12] arthurwolf commented on #2763
a dirty fix to this was to change limit: 100 to limit: 100000000, it now works 100% of the time
it also had a weird side effect: execution of simulations is MASSIVELY faster
why was this limited to 100, was this built to be executed on a raspberry pi originally or something like that? it's a very small limit...
or maybe there's an operational reason why you need to do it by small groups? the rever

[2021-11-19 23:15] arthurwolf commented on #2763
note: setting limit to very high values does not solve the issue, it just makes it much much more difficult to reproduce
also, setting limit to 5 makes it much easier to reproduce

[2021-11-19 23:43] arthurwolf commented on #2763
Replacing most of the getNext() function with simply:

        let cur = tradesCollection.find(opts.query).sort(opts.sort);
        let results = await cur.toArray();
        results.forEach((trade, i) => {eventBus.emit('trade', trade)});
        engine.exit(exitSim);

functions great (so far...)
I'm loosing the "reverse" feature, which I don't use/understand. If I understood what it is maybe I co

[2021-11-27 00:31] arthurwolf commented on #2763
Down to two lines, works perfectly. Doesn't have the "symmetry" feature, but I don't understand that well enough to implement it. Any explanations welcome:

[code]

[2021-11-27 17:20] arthurwolf opened #2764 "Buy_hold is always wrong"
Buy_hold changes from execution to execution (at least in simulations)

This is because the code that is used to remember the initial trade value is not always executed at the same time (in lolex/simulation terms), random amounts of time can have happened (due to the exchange's simulated latency) by the time we get to the code (in SyncBalance()) that takes note of the initial value (in s.start_cap

[2021-11-28 00:01] arthurwolf opened #2765 "Huge speedup"
I've been profiling zenbot (in simulation mode)
It was spending most of it's time in lolex doing Object key lookups.
I solved that by storing lolex timers in a queue instead of an Object, giving an over 10x speed increase.

However, after further review, it was still taking most of it's time handling "fake" setTimeouts to call checkorder again and again.
I replaced that mechanism with a .done() .f

[2021-12-12 06:05] Makeshift commented on #2636
I'm also (still) getting this issue. It's definitely something to do with lolex <-> Mongo, but I'm having trouble narrowing it down. I can only get it to appear when I'm doing a lot of sims at once (eg. using the genetic backtester) which makes it difficult to get a debugger involved.

So far I've managed to narrow down exactly which settings are required for lolex to keep sims consistent:

[code]

[2021-12-12 06:53] Makeshift commented on #2636
After all night of messing with it, I'm no closer to fixing it, but I did implement a workaround to kill sims that seem to be stuck:

[code]

Absolutely not ideal, but it appears to only happen to about ~2% of my sims, so I'll take it for now...

edit: Obviously this isn't useful if individual sims hang for you, this is only useful if a subset of sims hang when you're backtesting.

[2021-12-25 22:48] LarsAC commented on #180
Have started to work on a helm chart. A minimal setup is working locally, but does not support a lot of configuration items. Is there still interest in this ?

Lars

[2022-01-01 22:14] klodnickik commented on #2756
Hi, I have the same error ... it looks that some npm packages are outdated. I checked with fresh Ubuntu installation, 2 versions, i.e. 20.04 and 18.04.

[code]

[2022-01-03 00:02] stefangordon commented on #2765
Can you share the commit?

[2022-01-03 00:10] arthurwolf commented on #2765
This is the version of lolex adapted for tinyqueue:

"use strict";

const TINY_QUEUE = require('./tinyqueue.js');

function withGlobal(_global) {
    var userAgent = _global.navigator && _global.navigator.userAgent;
    var isRunningInIE = userAgent && userAgent.indexOf("MSIE ") > -1;
    var maxTimeout = Math.pow(2, 31) - 1; //see https://heycam.github.io/webidl/#abstract-opdef-converttoint

[2022-01-09 05:45] #2684 closed, assigned to nobody

[2022-01-09 05:45] #2689 closed, assigned to nobody

[2022-01-09 05:45] #2685 closed, assigned to nobody

[2022-01-09 05:45] #2663 closed, assigned to nobody

[2022-01-09 20:11] bolec812 opened #2768 "Zenbot notifications"
Hello. I have a Zenbot configured in such a way that every 6 hours I restart and run 10 windows with Zenbot, the problem is that I get 10 notifications "Balance BINANCE sync balance 110BUSD" I would like the bot to only send a notification when it buys or sells cryptocurrency, how to turn off account balance reporting in notifications?

[2022-01-23 13:05] jefc1111 commented on #2765
Hi, thanks for posting this. I am trying to run many simulations in parallel and am finding I am CPU bound once around 15-20 are running, even though I have quite a lot of power available. So this change is of interest to me ;)

I pasted your source code above over the contents of `node_modules/lolex/src/lolex-src.js` and also added `tinyqueue.js` in the same directory, with the contents pasted fr

[2022-01-23 13:10] arthurwolf commented on #2765
I didn't have this error, but my mongo was on localhost.
If you really want to use zenbot (I'm now convinced it's not a viable
option for what we both are trying to do), I strongly recommend you
implement something where:
1. You take the k-lines/trades from mongo and write them to a file
2. You use that file instead of mongodb in zenbot when running a backtest
It should improve performance immense

[2022-01-23 13:24] jefc1111 commented on #2765
Hi, thanks for the reply. Writing data to a file for Zenbot to read from sounds like a good idea. I already tried running Mongo with the inMemory storage engine to see if that would make a difference, but it made no difference at all.

My app is rather deeply integrated with Zenbot at this point so I am not going to give up on it just yeat. Though I may change the way in which I expect to use it t

[2022-01-23 13:28] arthurwolf commented on #2765
On Sun, Jan 23, 2022 at 2:24 PM Geoff Clayton ***@***.***>
wrote:

Tried that too.

That's called the "sunk cost fallacy", look it up, it cost me 3 weeks of
zenbot work...

That's my long-term plan. For now a server with 40 cores does the job,
though a bit slowly.

But it's very cheap in terms of ressources, and very fast at starting/going
through it (insanely faster compared to zenbot). Especiall

[2022-01-23 13:52] jefc1111 commented on #2765
I can see how the sunk cost fallacy applies here, but I have limited to spend on this stuff, so if my choices are either
1. Find a suitable use-case for the system I have already built
2. Do nothing

...then I think I'd go for option 1 :)

I wish there were an option 3: _spend a bunch more time on it_, but there is not...

I will take another look at bbgo though. I like the idea of making the unde

[2022-01-23 14:00] arthurwolf commented on #2765
On Sun, Jan 23, 2022 at 2:53 PM Geoff Clayton ***@***.***>
wrote:

That's how I started: I made my bot class a parent, made a zenbot and a
bbgo class that inherited it, rewrote the tests to run on both, and in a
couple of days I had it switchable from one to the other.
It was much easier than I first expected. Maybe give it a quick go/make
this a side project.

--

勇気とユーモア

[2022-01-23 14:50] richastral opened #2801 "Enable web interface before data load,"
### System information
- All platforms

### Describe the problem
When using the bot and settings allow back-data, the bot as it should reads the data then starts up.

If possible, it would be good to start the web interface and display the status, or lack of on the interface before the data load.

I'm happy to contribute if you think this could work.